@page "/fetchdeployments"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject GlobalData globalData

<section class="block-explorer-section section bg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Deployments</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Coming soon</p>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
