@page "/fetchdeployments"
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject GlobalData globalData

<h1>Deployment Progress</h1>

<p>This component shows information about activation of deployments.</p>

<p><em>Coming soon</em></p>

@code {

}
