@page "/fetchmempool"
@inject HttpClient Http
@inject IUriHelper UriHelper
@inject GlobalData globalData

<h1>Mempool Transactions Info</h1>

<p>This component shows information about the mempool.</p>

<p><em>Coming soon</em></p>

@code {

}
