<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <appSettings>

    <add key="ConnectionString" value="mongodb://localhost" />
    
    <add key="CoinTag" value="BTC" />
    <add key="RpcDomain" value="bitcoin-rpc-url" /> 

    <add key="RpcSecure" value="true" />
    <add key="RpcAccessPort" value="833" />
    <add key="RpcUser" value="==user==" />
    <add key="RpcPassword" value="==password==" />

    <add key="BlockFinderInterval" value="10" />
    <add key="BlockStoreInterval" value="10" />
    <add key="BlockSyncerInterval" value="10" />

    <add key="SyncBlockchain" value="true" />
    <add key="SyncMemoryPool" value="true" />
    
    <add key="SyncApiPort" value="9000" />
    
    <add key="StartBlockIndex" value="1" />

    <add key="NotifyUrl" value="https://apiurl" />
    <add key ="NotifyBatchCount" value="0"/> <!--zero to disable-->
    
    <!-- Performance -->
    <add key="MaxItemsInQueue" value="5" />
    <add key="DetailedTrace" value="0" />

    <add key="ParallelRequestsToTransactionRpc" value="5" />
    
    <add key="ParalleleTableStorageBatchCount" value="80" />

  </appSettings>

  <typeRegistrationProvidersConfiguration>
    <clear />
    <add sectionName="RetryPolicyConfiguration" name="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>

  <RetryPolicyConfiguration defaultRetryStrategy="DefaultStrategy" defaultSqlConnectionRetryStrategy="DefaultStrategy">
    <fixedInterval name="DefaultStrategy" retryInterval="00:00:00" maxRetryCount="0" />
    <incremental name="Incremental_1s_1s_10" retryIncrement="00:00:01" initialInterval="00:00:01" maxRetryCount="10" />
    <fixedInterval name="FixedInterval_1s_10" retryInterval="00:00:01" maxRetryCount="10" />
    <exponentialBackoff name="Backoff_1s_30s_10s_10_False" minBackoff="00:00:01" maxBackoff="00:00:30" deltaBackoff="00:00:10" maxRetryCount="10" firstFastRetry="false" />
  </RetryPolicyConfiguration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
